<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.ssm.mapper.CustomerMapper" >
<select id="findByCondition" parameterType="queryCondition" resultType="customer">
		SELECT
			a.cust_id,
			a.cust_name,
			a.cust_user_id,
			a.cust_create_id,
			b.dict_item_name cust_source,
			c.dict_item_name cust_industry,
			d.dict_item_name cust_level,
			a.cust_linkman,
			a.cust_phone,
			a.cust_mobile,
			a.cust_zipcode,
			a.cust_address,
			a.cust_createtime
		FROM
			`customer` a
		LEFT JOIN base_dict b ON a.cust_source = b.dict_id
		LEFT JOIN base_dict c ON a.cust_industry = c.dict_id
		LEFT JOIN base_dict d ON a.cust_level = d.dict_id
		<where>
			<if test="custName !=null and custName !=''">
				AND cust_name LIKE '%${custName}%'
			</if>
			<if test="custSource !=null and custSource  != ''">
				AND cust_source = #{custSource}
			</if>
			<if test="custIndustry!=null and custIndustry != ''">
				AND cust_industry = #{custIndustry}
			</if>
			<if test="custLevel!=null and custLevel != ''">
				AND cust_level = #{custLevel}
			</if>
		</where>
		LIMIT #{start}, #{size}	
</select>

<select id="selectCountByCondition" parameterType="queryCondition" resultType="int">
SELECT 
count(*)
FROM  customer c 
<where>
<if test="custName !=null and custName != ''">
	AND c.cust_name LIKE '%${custName}%'
</if>
<if test="custSource != null and custSource !=''">
 	AND c.cust_source = #{custSource}
</if>
<if test="custIndustry != null and custIndustry !=''">
	AND c.cust_industry= #{custIndustry}
</if>
<if test="custLevel != null and custLevel !=''">
 	AND c.cust_level=#{custLevel};
</if>
</where>
</select>


<select id="selectById" parameterType="long" resultType="customer">
	 SELECT * FROM customer WHERE cust_id = #{id}
</select>


<update id="updateCustomer" parameterType="customer">
		update customer
		<set>
			<if test="cust_name!=null and cust_name!=''">
				cust_name=#{cust_name},
			</if>
			<if test="cust_user_id!=null and cust_user_id!=''">
				cust_user_id=#{cust_user_id},
			</if>
			<if test="cust_create_id!=null and cust_create_id!=''">
				cust_create_id=#{cust_create_id},
			</if>
			<if test="cust_source!=null and cust_source!=''">
				cust_source=#{cust_source},
			</if>
			<if test="cust_industry!=null and cust_industry!=''">
				cust_industry=#{cust_industry},
			</if>
			<if test="cust_level!=null and cust_level!=''">
				cust_level=#{cust_level},
			</if>
			<if test="cust_linkman!=null and cust_linkman!=''">
				cust_linkman=#{cust_linkman},
			</if>
			<if test="cust_phone!=null and cust_phone!=''">
				cust_phone=#{cust_phone},
			</if>
			<if test="cust_mobile!=null and cust_mobile!=''">
				cust_mobile=#{cust_mobile},
			</if>
			<if test="cust_zipcode!=null and cust_zipcode!=''">
				cust_zipcode=#{cust_zipcode},
			</if>
			<if test="cust_address!=null and cust_address!=''">
				cust_address=#{cust_address},
			</if>
			<if test="cust_createtime!=null and cust_createtime!=''">
				cust_createtime=#{cust_createtime}
			</if>
		</set>
		where cust_id=#{cust_id}
</update>


<delete id="deleteCustomer" parameterType="long">
	delete from customer where cust_id =#{id}
</delete>

</mapper>